.sign-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 90vh;
    margin-left: 20rem;
    margin-top: 1rem;
    max-width: 600px;
    width:100%;
   background-attachment:fixed ;
    background-size: cover;
    background-color: #ffffff; 
  }
  
  .sign-card {
    background-color: rgb(14, 119, 102); /* White card background */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px; /* Adjust width as needed */
  }
  
  .sign-form {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
   
    background-color:#d9e2e2;
    text-align: center;
 
  }

  
  .form-heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333; 

  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; 
  }
  .form-actions{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
  }
  .form-input {
    border-radius: 10px;
    text-align: center;
  }
  .form-heading{
   font-weight: bold;
   padding-top: 1rem;
  }
  select {
   
    border-radius: 10px;
    text-align: center;
    max-width:100%;

   
  }
 
  
  @media only screen and (max-width: 750px) {
    .sign-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width:200px;
        height: 90vh;
    
        margin-top: 8rem;
        width:100%;
       background-attachment:fixed ;
    
    background-size: cover;
       
        background-color: #ffffff; 
      }
      .registrar{
        max-width: 400px;
    }
  }
  @media only screen and (max-width: 1400px) {
    .sign-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width:800px;
        height: 90vh;
        margin-left: 10rem;
        margin-top: 2rem;
        width:100%;
       background-attachment:fixed ;
    
    background-size: cover;
       
        background-color: #ffffff; 
      }
      
    
  }
  @media only screen and (max-width: 660px) {
    .sign-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width:150px;
        height: 90vh;
        margin-left: 3.5rem;
        margin-top: 10rem;
        width:100%;
       background-attachment:fixed ;
    
    background-size: cover;
       
        background-color: #ffffff; 
      }

.registrar{
    max-width: 400px;
}
      
  }
 