@font-face {
  font-family: bebas_new;
  src: url("./../public/assets/Bebas-Regular.otf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

